 body{
     background-color:#FAFAFA;
}

 footer{
     max-width:960px;
     margin:auto;
 }
 .bg-color{
     background-color:rgb(21,36,126);
 }
.main_container{

    margin:auto;
    /*margin:5em 0em;*/
}
 .banner_page {
      padding:5em 1em;
      margin-bottom:2em;
      background-color:#e9ecef;
      border-radius:.3rem
 }


