<!DYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{assets/css/bootstrap-4.2.1.css}"/>
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" th:href="@{assets/css/meanmenu.css}"/>
        <!-- Boxicons CSS -->
        <link rel="stylesheet" th:href="@{assets/css/boxicons.min.css}"/>
        <!-- Owl Carousel -->
        <link rel="stylesheet" th:href="@{assets/css/owl.carousel.min.css}"/>
        <link rel="stylesheet" th:href="@{assets/css/owl.theme.default.min.css}"/>

        <!-- Slick Slider CSS -->
        <link rel="stylesheet" th:href="@{assets/css/slick.css}"/>
        <link rel="stylesheet" th:href="@{assets/css/slick-theme.css}"/>
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" th:href="@{assets/css/magnific-popup.css}"/>
        <!-- Style CSS -->
        <link rel="stylesheet" th:href="@{assets/css/style.css}"/>
        <!-- Responsive CSS -->
        <link rel="stylesheet" th:href="@{assets/css/responsive.css}"/>

        <title>New South Wales Business Map</title>

<!--        <link rel="icon" type="image/png" href="assets/img/NSW_LOGO.png"/>-->
        <link rel="stylesheet" th:href="@{/css/main.css}">
    	
        <script th:src="@{/js/jquery-3.5.0.min.js}"></script>
        <script th:src="@{/js/jquery-navigated.js}"></script>
</head>
<body>

        <!-- Start Navbar Area -->
        <div class="navbar-area fixed-top">
            <!-- Menu -->
            <div class="main-nav">
                <div class="container">


                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-color">
                        <a class="navbar-brand" href="index">NSW Business Map</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbars">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/index">Home </a>
                                </li>

                                <li class="nav-item">
                                    <a href="idx" class="nav-link active">Location/LGA</a>
                                </li>

                                <li class="nav-item">
                                    <a href="mongo_index" class="nav-link active">Recommendation</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="#">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="/article">Business Insight</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="toPage/contact" class="nav-link">Contact Us</a>

                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li class="nav-item">
                                            <a href="toPage/contact" class="nav-link">Find us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="feedback" class="nav-link">Feedback</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="FAQs" class="nav-link">FAQs</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>




<!--                    <nav class="navbar navbar-expand-md navbar-light">-->
<!--                        <a class="navbar-brand" href="/mongodb">-->
<!--&lt;!&ndash;                            <img src="assets/img/Side_logo.png" alt="Logo"/>&ndash;&gt;-->
<!--                        </a>-->
<!--                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">-->
<!--                            <ul class="navbar-nav">-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="index" class="nav-link">Home page</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a href="mongo_index" class="nav-link">Location/LGA</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item"> -->
<!--                                    <a href="idx" class="nav-link">More function</a>-->
<!--                                    <ul class="dropdown-menu">-->
<!--                                        <li class="nav-item active">-->
<!--                                            <a class="nav-link" href="#">Dashboard</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item ">-->
<!--                                            <a class="nav-link " href="#">Business License</a>-->
<!--                                        </li>-->

<!--                                        <li class="nav-item">-->
<!--                                            <a class="nav-link " href="/article">Business Insight</a>-->
<!--                                        </li>-->

<!--                                    </ul>-->



<!--                                </li>-->

<!--                                <li class="nav-item dropdown">-->
<!--                                    <a href="toPage/contact" class="nav-link">Contact Us</a>-->

<!--                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="toPage/contact" class="nav-link">Find us</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="feedback" class="nav-link">Feedback</a>-->
<!--                                        </li>-->
<!--                                        <li class="nav-item">-->
<!--                                            <a href="FAQs" class="nav-link">FAQs</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </li>-->

<!--&lt;!&ndash;                                <li class="nav-item dropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--&lt;!&ndash;                                        Dropdown&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </li>&ndash;&gt;-->



<!--                            </ul>-->
<!--                        </div>-->
<!--                    </nav>-->
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

       <!-- Banner -->
        <div class="banner-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="banner-content">
                                    <h1>What are you looking for in NSW today?</h1>
                                    <p> Find some information in Some Suburb, Train Station Volume, Rental of Price,Number of Crime.</p>

                                    <form action="/test">
                                        <input id = "keywords" name="keywords" type="text" class="form-control" placeholder="Enter suburb name"/>
                                        <button type="submit" class="btn banner-form-btn">Search Now</button>
                                    </form>

<!--                                    <p></p>-->
<!--                                    <p></p>-->
<!--                                    <p> Find industries address list with postcode.</p>-->
<!--                                    <form>-->
<!--                                        <input id = "name" name="name" type="text" class="form-control" placeholder="Enter postcode"/>-->
<!--                                        <button type="submit" onclick="openWin()" class="btn banner-form-btn">Find Place</button>-->
<!--                                    </form>-->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="banner-slider owl-theme owl-carousel">
                                    <div class="slider-item">
                                        <img src="assets/img/home-one/banner/NSW_1.png" alt="Slider"/>
                                    </div>
                                    <div class="slider-item">
                                        <img src="assets/img/home-one/banner/NSW_2.png" alt="Slider"/>
                                    </div>
                                    <div class="slider-item">
                                        <img src="assets/img/home-one/banner/NSW_3.png" alt="Slider"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- End Banner -->


        <!-- Essential JS -->
        <script th:src="@{assets/js/jquery-1.10.2.js}"></script>
        <script th:src="@{assets/js/popper.min.js}"></script>
        <script th:src="@{assets/js/bootstrap.min.js}"></script>
        <!-- Meanmenu JS -->
        <script th:src="@{assets/js/jquery.meanmenu.js}"></script>
        <!-- Owl Carousel JS -->
        <script th:src="@{assets/js/owl.carousel.min.js}"></script>
        <!-- Mixitup JS -->
        <script th:src="@{assets/js/jquery.mixitup.min.js}"></script>
        <!-- Slick Slider JS -->
        <script th:src="@{assets/js/slick.min.js}"></script>
        <!-- Form Ajaxchimp JS -->
        <script th:src="@{assets/js/jquery.ajaxchimp.min.js}"></script>
        <!-- Form Validator JS -->
        <script th:src="@{assets/js/form-validator.min.js}"></script>
        <!-- Contact JS -->
        <script th:src="@{assets/js/contact-form-script.js}"></script>
        <!-- Magnific Popup JS -->
        <script th:src="@{assets/js/jquery.magnific-popup.min.js}"></script>
        <!-- Custom JS -->
        <script th:src="@{assets/js/custom.js}"></script>
</body>

</html>