<!DYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jimze">
    <title>NSW Business Map Dashboard</title>

    <link rel="stylesheet" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../static/css/mian.css">-->
    <link rel="stylesheet" th:href="@{/css/main.css}">


</head>
<body class="main_container">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-color">
        <a class="navbar-brand" href="#">NSW Business Map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbars">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Business</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <main class="container">
        <div class="nav-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Industry</a></li>
                </ol>
            </nav>
        </div>
        <div class="industry-describe col-md-12">
            <h2>
                NSW Industry Analysis
            </h2>
            <hr>
            <div class="describe-content">
                <p>
                    Input your preference industry to recommend where it is better to start a new small business.

                </p>
            </div>
        </div>


        <div class="industry-search col-md-12">
            <h2>
                Search
            </h2>
            <hr>
            <div class="search-notice">

            </div>

            <div class="industry-search-form col-12">
                <form class="form-inline" th:action="@{/industry_dashboard}" th:object="${searchIndustry}" method="posts">

                    <div class="form-group col-md-8">
                        <label for="inputIndustry" class="sr-only">Industry</label>
                        <input type="search" th:field="*{industryName}"  class="form-control offset-md-4  col-md-8" id="inputIndustry" placeholder="Enter a Industry to continue">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

<!--                <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">-->
<!--                    <p>Id: <input type="text" th:field="*{id}" /></p>-->

<!--                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--                </form>-->

            </div>


            <div class="industry-popular-list text-secondary">
                <h5>Popular Industry</h5>

                    <div class="popular-list">
                        <hr>
                        <p>&nbsp&nbsp Click one industry</p>

                        <ul class="col-6 ml-5">
                            <li>
                                <a href="">Restaurant</a>
                                <p>Approximately39%
                                    of Restaurant live outside the Sydney Greater Metropolitan Region</p>
                            </li>
                            <li>
                                <a href="">Cafe</a>
                                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
                            </li>
                            <li>
                                <a href="">Hotel</a>
                                <p>Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. </p>
                            </li>
                            <li>
                                <a href="">Gym</a>
                                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
                            </li>


                            <li>
                                <a href="">Convenience Store</a>
                                <p></p>
                            </li>
                        </ul>
                    </div>


            </div>

        </div>

    </main>




</body>

<link rel="stylesheet" href="webjars/bootstrap/4.1.0/js/bootstrap.min.js">
<link rel="stylesheet" href="webjars/jquery/3.5.1/jquery.min.js">
<script th:src="@{js/main.js}"></script>

</html>