<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>License</title>

    <style type="text/css">
        .text-body {
            width: 800px;
            margin: 0 auto;
        }

        .top{
            background: #F5F5F5;

        }

        .title {
            font-size: 35px;
            margin: 0 auto;
            width: 800px;
            height: 200px;
            text-align:left;
            background: #F5F5F5;
            line-height: 200px;
        }

        .sub_text{
            margin: 20px;
        }

        .sub-btn{
            font-size: 28px;
            width: 800px;
            height: 75px;
            text-align:left;
            border: 0 ;
            background: #DCDCDC;
        }


    </style>

    <link rel="stylesheet" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../static/css/mian.css">-->
    <link rel="stylesheet" th:href="@{/css/main.css}">


</head>

<body class="main_container">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-color">
    <a class="navbar-brand" href="index">NSW Business Map</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbars">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/index">Home </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/industry_search">Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="#">Business License</a>
            </li>


            <li class="nav-item ">
                <a class="nav-link " href="/article">Business Insight</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<main class="container">
    <div class="nav-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Liense</a></li>
            </ol>
        </nav>
    </div>

    <div align="center">
        <div class="top">
            <h1 class="title" >Start a business in NSW
            </h1>
        </div>

    </div>
    <div id="business_process" style="display: block" class="text-body">
        <div class="container">
            <section>
                <h2 >
                    <button class="sub-btn" onclick=hide_show("check_industry") >Check out the industry</button>

                </h2>
                <div id="check_industry" style="display: block" class="sub_text">
                    <p>Check out the industry specific guides for starting a new business:</p>

                    <ul>
                        <li><a href="https://mybusiness.service.nsw.gov.au/crsb/guides">Cafe, restaurant or small bar</a>
                        </li>
                        <li><a href="https://www.service.nsw.gov.au/guide/open-clothing-retail-business-nsw">Clothing retail
                            business</a></li>
                        <li><a href="https://www.service.nsw.gov.au/guide/open-print-business-nsw">Print business</a></li>
                        <li><a href="https://mybusiness.service.nsw.gov.au/housing-construction">Housing construction
                            business</a></li>
                        <li><a href="https://www.service.nsw.gov.au/guide/start-road-freight-transport-business-nsw">Road
                            freight transport business</a></li>
                    </ul>

                </div>

                <div>
                    <section id="planning-a-business">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("plan_business")>Planning a business</button>
                        </h2>
                        <div id="plan_business" style="display: none" class="sub_text">
                            <p>Before you invest time and money into setting up your business by registering and
                                applying
                                for the right business licences, make sure you put together a business plan and
                                carefully
                                consider how viable your business is. Many businesses fail when these things aren't
                                considered. Get in touch with the&nbsp;
                                <a href="https://www.smallbusiness.nsw.gov.au/">Office of the NSW Small Business
                                    Commissioner</a>
                                or an industry association to get advice specific to your area.
                            </p>
                        </div>
                    </section>


                    <section id="choosing-a-business-structure">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("check_business_structure")>Choosing a business structure</button>
                        </h2>
                        <div id="check_business_structure" style="display: none" class="sub_text">
                            <p>It's important you choose the best structure for your business type. The most commonly
                                used business structures are sole trader, company, partnership, and trust.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/set-sole-trader">Set up as a sole
                                trader</a><br>
                                Operating as a sole trader is the simplest and cheapest business structure you can set
                                up.
                                You control and manage the business, and although you 'trade' on your own, you can still
                                employ people to work for you.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-company">Register a
                                company</a><br>
                                If you've decided a company structure is best for your business, you'll need to register
                                your company with the Australian Government.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-limited-partnership">Register
                                a limited
                                partnership</a><br>
                                If you’ve decided a limited partnership structure is best for your business, you’ll need
                                to
                                register the limited partnership with the&nbsp;NSW&nbsp;Fair Trading’s Registry
                                Services.
                            </p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/set-trust-business-structure">Set up
                                a trust business structure</a><br>
                                A trust is an obligation imposed on one person or entity – the trustee, to hold property
                                for
                                the benefit of another – the beneficiary.&nbsp;The trustee can be an individual or a
                                company, the latter providing some asset protection.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-co-operative">Register a
                                co-operative</a><br>
                                If you've decided a co-operative is best for your business, you'll need to register the
                                co-operative with NSW Fair Trading's Registry Services.</p>

                        </div>
                    </section>


                    <section id="starting-a-business">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("start_business")>Starting a business</button>

                        </h2>
                        <div id="start_business" style="display: none" class="sub_text">
                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/register-australian-business-number-abn">Register
                                    an Australian Business Number (ABN)</a><br>
                                You don't have to register for an&nbsp;ABN, but an&nbsp;ABN&nbsp;will let you claim
                                Goods and Services Tax credits, energy grants credits, register an Australian domain
                                name, plus more.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-administrator-auskey">Apply
                                for an Administrator AUSkey</a><br>An AUSkey is a unique secure login linked to an
                                Australian business number (ABN), which allows you to access and send business
                                information to government online.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/services/business-industries-and-employment/starting-business/register-business-association-name">Register
                                    a business name</a><br>You'll need to register a business name, unless you're a sole
                                trader or partnership and your business name is exactly the same as your or you and your
                                partner's first and last names. You'll need an&nbsp;ABN&nbsp;or&nbsp;ABN&nbsp;application
                                number to register your business name.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/register-your-business-goods-and-services-tax-gst">Register
                                    your business for Goods and Services Tax (GST)</a><br>You must register your
                                business for&nbsp;GST&nbsp;if your&nbsp;GST&nbsp;turnover is $75,000 or more.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-business-tax-file-number-tfn">Apply
                                for a business Tax File Number</a><br>If you've decided a company, trust, or partnership
                                structure is best for your business, you'll need to apply for a business Tax File
                                Number.&nbsp;</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-individual-tax-file-number">Apply
                                for an individual Tax File Number</a><br>If you’ve decided a sole trader structure is
                                best for your business, you’ll need to apply for an individual Tax File Number.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-payg-withholding">Register
                                for&nbsp;PAYG&nbsp;withholding</a><br>You'll need to register for&nbsp;PAYG&nbsp;withholding
                                if you need to&nbsp;withhold&nbsp;tax (on behalf&nbsp;of the Australian Tax Office) from
                                payments you make to employees, contractors, or other businesses that haven't supplied
                                you an&nbsp;ABN.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/get-liability-insurance-your-business">Get
                                    liability insurance for your business</a><br>You can choose to take out public
                                liability, professional indemnity, or product liability insurance. Public liability
                                insurance protects you and your business against the risks of damage or injury to people
                                or property. While it's not mandatory, it's essential for a business.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-fuel-tax-credits">Register
                                for fuel tax credits</a><br>You may be eligible to register for fuel tax credits for the
                                fuel used by your business.&nbsp;
                            </p>

                        </div>
                    </section>


                    <section id="developing-your-premises">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("develop_premises")>Developing your premises</button>
                        </h2>
                        <div id="develop_premises" style="display: none" class="sub_text">
                            <p><a href="https://www.service.nsw.gov.au/transaction/help-leasing-business-premises">Help
                                with leasing business premises</a><br>You can find out about commercial leasing on the
                                Office of the&nbsp;NSW&nbsp;Small Business Commissioner&nbsp;website.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-development-consent">Apply for
                                development consent</a><br>You may need to get consent from your local council before
                                you can carry out development work on your business premises. Make sure you read the
                                notification requirements for your local council carefully.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-online-development-application-da">Apply
                                    for a development application (DA)</a><br>If your proposed development is located
                                within certain local government areas, you can create an account on the NSW Planning
                                Portal and submit your DA online.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-online-complying-development-certificate-cdc">Apply
                                    online for a complying development certificate (CDC)</a><br>If your proposed
                                residential development is located within certain local government areas, you can create
                                an account on the NSW Planning Portal and submit your CDC application online.
                            </p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-install-street-awning-or-business-sign">Apply
                                    to&nbsp;install&nbsp;a street awning or a business sign</a><br>Before you&nbsp;install&nbsp;any
                                street awnings or business signs at your premises, you may need to apply for permission
                                from your local council.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-zoning-certificate">Apply for a
                                zoning certificate</a><br>To find out about any controls, requirements and restrictions
                                on a property, apply to your local council for a zoning certificate (Section 149
                                planning certificate).</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-make-changes-heritage-listed-place">Apply
                                    to make changes to a heritage listed place</a><br>If you want to make changes to a
                                heritage listed place, you may need to seek approval from your local council or the
                                Heritage Council of&nbsp;NSW.&nbsp;</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-construction-certificate">Apply
                                for a construction certificate</a><br>Before you start any building work, you need to
                                apply for a Construction Certificate from your local council. This certificate confirms
                                the construction plans are consistent with the development consent and other
                                requirements.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/appoint-principal-certifying-authority-pca">Appoint
                                    a principal certifying authority</a><br>After being issued with development consent
                                or a Construction Certificate, and before you start any approved construction, you need
                                to appoint a Principal Certifying Authority to oversee the building work.&nbsp;ed</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-fire-safety-certificate">Apply
                                for a fire safety certificate</a><br>You’ll need to have a final Fire Safety Certificate
                                from your local council before a final Occupation Certificate can be issued for a new
                                building or an existing building that’s changed use.&nbsp;</p>

                            <p><a
                                    href="https://www.service.nsw.gov.au/transaction/apply-compliance-certificate">Apply
                                for a compliance certificate</a><br>After your building work is complete, you may need
                                to apply to your local council for a Compliance Certificate to confirm the development
                                meets council and regulatory requirements.&nbsp;
                            </p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-occupation-certificate">Apply
                                for an occupation
                                certificate</a><br>Before moving in to your premises, you’ll need an Occupation
                                Certificate from your local council to occupy or use a new building, or change the use
                                of an existing building.&nbsp;
                            </p>

                            <p>You can&nbsp;<a
                                    href="https://www.lgnsw.org.au/Public/NSW-Councils/NSW-Councils/NSW-Council-Links/Public/NSW-Councils/NSW-Council-Links.aspx?hkey=58a23a50-7434-42a5-98c3-6de46b42685f">find
                                your local council online</a>&nbsp;to get the information relevant to your situation.
                            </p>

                        </div>
                    </section>


                    <section id="before-you-start-trading">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("before_trading")>Before you start trading</button>
                        </h2>
                        <div id="before_trading" style="display:none" class="sub_text">
                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-discharge-commercial-trade-wastewater">Apply
                                    to discharge commercial trade waste water</a><br>You may need approval from your
                                water provider to discharge commercial trade waste water into a public sewer.&nbsp;</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-regulated-water-system">Register
                                a regulated water system</a><br>You need to register a regulated water system, like a
                                water cooling or warm water system, with your local council.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-place-commercial-waste-public-place">Apply
                                    to place commercial waste in a public place</a><br>You’ll need approval from your
                                local council if you want to place commercial waste from your business in a public place
                                for collection.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-licence-play-music-your-business">Apply
                                    for a licence to play music at your business</a><br>If you want to play music at
                                your business, you'll need 2 kinds of licences to cover copyright issues.</p>

                        </div>
                    </section>


                    <section id="selling-goods">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("sell_goods")>Selling goods</button>


                        </h2>
                        <div id="sell_goods" style="display:none" class="sub_text">
                            <p><a href="https://www.service.nsw.gov.au/transaction/comply-australian-consumer-law">Comply
                                with Australian Consumer Law</a><br>It's important you're familiar with consumers'
                                rights for purchases of goods and services under Australian Consumer Law, and understand
                                your responsibilities for complying with consumer guarantees.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/comply-competition-and-consumer-laws">Comply
                                    with competition and consumer laws</a><br>It's important you understand and comply
                                with competition and consumer laws that govern how all businesses in Australia,
                                including online retailers and those with a&nbsp;shopfront, must deal with their
                                competitors, suppliers and customers.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/meet-requirements-displaying-or-advertising-prices">Meet
                                    requirements for displaying or advertising prices</a><br>You must comply with
                                pricing regulations, and display prices accurately and clearly.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-exemption-restricted-trading-days">Apply
                                    for an exemption from restricted trading days</a><br>If you wish to open your
                                business on a restricted trading day, such as Good Friday, Easter Sunday,&nbsp;ANZAC&nbsp;Day
                                (prior to&nbsp;1pm), or Christmas Day, you may need to apply for an exemption.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/check-guidelines-importing-and-buying-goods-overseas">Check
                                    guidelines for importing and buying goods from overseas</a><br>You don't need a
                                licence to buy or import goods from overseas, but you may need to get permits to clear
                                some goods from customs control. Check you understand and comply with any customs
                                legislation and procedures before you order goods from overseas.</p>

                        </div>
                    </section>


                    <section id="setting-up-workers">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("setup_workers")>Setting up workers</button>
                        </h2>
                        <div id="setup_workers" style="display: none" class="sub_text">
                            <p><a href="https://www.service.nsw.gov.au/transaction/comply-fair-work-requirements">Comply
                                with Fair Work requirements</a><br>If you’re employing staff you must comply with Fair
                                Work requirements like minimum pay and conditions.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/comply-long-service-leave-requirements">Comply
                                    with long service leave requirements</a><br>If you're employing staff you must
                                comply with&nbsp;NSW&nbsp;Industrial Relations requirement to pay&nbsp;long service
                                leave.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/paying-employees-or-above-award-rates">Paying
                                    employees at, or above, award rates</a><br>You must make sure you're providing at
                                least minimum wages and conditions for your employees. These conditions are covered in
                                the awards.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-payg-withholding">Register
                                for PAYG withholding</a><br>You'll need to register for&nbsp;PAYG&nbsp;withholding if
                                you need to&nbsp;withhold&nbsp;tax (on behalf&nbsp;of the Australian Tax Office) from
                                payments you make to employees, contractors, or other businesses that haven't supplied
                                you an&nbsp;ABN.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/register-superannuation-clearing-house">Register
                                    for the superannuation clearing house</a><br>If you have 19 or fewer employees or
                                have an aggregated turnover below $2 million, you can register for the small business
                                superannuation clearing house to pay super contributions to your employees in a single
                                online location.&nbsp;</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/comply-work-health-and-safety-laws">Comply
                                with work health and safety laws</a><br>You must comply with work health and safety
                                (WHS) laws so that your workers, and people who come into contact with your business
                                (customers, contractors or visitors) are kept healthy and safe. As part of WHS laws,
                                you'll also need to manage the risks to health and safety for hazardous manual tasks,
                                hazardous chemicals and noise at work. &nbsp;</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-workers-insurance-policy">Apply
                                for a workers insurance policy</a><br>If you're going to pay more than $7500 a year in
                                wages, you'll need to have a workers compensation insurance policy.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/managing-contractors-and-employees">Managing
                                contractors and employees</a><br>You have different responsibilities if you engage
                                contractors rather than permanent employees. It's important for you to learn about the
                                differences.</p>

                        </div>
                    </section>


                    <section id="other-things-to-consider">
                        <h2>
                            <button class="sub-btn" onclick=hide_show("other_consider")>Other things to consider</button>


                        </h2>
                        <div id="other_consider" style="display: none" class="sub_text">
                            <p><a href="https://www.service.nsw.gov.au/transaction/register-trade-mark">Register a trade
                                mark</a><br>A trade mark (sometimes called a brand) is the way you show your customers
                                and the public who you are.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/register-domain-name-your-business">Register
                                a domain name for your business</a><br>With an&nbsp;ABN, you can register a&nbsp;website&nbsp;name
                                that ends with '.au'.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/comply-australian-standards">Comply
                                with Australian standards</a><br>Australian standards set out specifications and design
                                procedures to ensure products and services consistently perform safely, reliably, and
                                the way they're intended to.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/comply-nsw-environmental-legislation">Comply
                                    with NSW environmental legislation</a><br>It's most important to make sure you
                                comply with all environmental laws covering water, land, air, noise pollution and waste
                                management<em>.</em></p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-register-design">Apply to
                                register a design</a><br>You can protect your design, provided it is both new and
                                distinctive, by registering it with IP Australia.&nbsp;</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-patent">Apply for a
                                patent</a><br>If you've developed a new device, substance, method, or process, you can
                                apply for a patent to give you rights over your invention in Australia. There are 2
                                types of patents, standard and innovation.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-trade-promotion-gaming-authority">Apply
                                    for a Trade Promotion Lottery Permit (Single Promotion)</a><br>If you want to run a
                                single free-entry competition, such as a sweep, giveaway or contest to promote your
                                business, you'll need to apply for a permit online.&nbsp;</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-trade-promotion-lottery-permit-multiple-lottery">Apply
                                    for a Trade Promotion Lottery Permit (Multiple Promotions)</a><br>If you want to run
                                multiple free-entry competitions over 12 months, such as sweeps, giveaways or contests
                                to promote your business, you'll need to apply for a permit online.</p>

                            <p>
                                <a href="https://www.service.nsw.gov.au/transaction/apply-be-nsw-seniors-card-program-participating-business">Apply
                                    to be a NSW Seniors Card Participating Business</a><br>If you'd like to provide
                                discounts to Seniors Card holders&nbsp;at&nbsp;your business, and be listed in the NSW
                                Seniors Discount Directory, you can apply to become a NSW Seniors Card Participating
                                Business.</p>

                            <p><a href="https://www.service.nsw.gov.au/transaction/apply-be-companion-card-affiliate">Apply
                                to be a Companion Card affiliate</a><br>If your business charges an admission or
                                participation fee and you'd like to issue a companion ticket at no charge to companion
                                cardholders, you can apply to become a Companion Card affiliate.</p>

                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</main>


<footer class="footer">
    <hr>
    <div class="col-12 col-md">
        <div class="d-block mb-3 text-muted">&copy; USYD,CS,2020</div>
    </div>
</footer>


<script type="text/javascript">
    function hide_show(id) {
        var target = document.getElementById(id);
        if (target.style.display == "none") {
            target.style.display = "block";
        } else {
            target.style.display = "none";
        }
    }
</script>



<script href="webjars/jquery/3.5.1/jquery.min.js"></script>
<script href="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script th:src="@{js/main.js}"></script>

</body>
</html>